@font-face {
    font-family: 'Acme', sans-serif;
    src: url('../../../assets/fonts/Acme/Acme-Regular.ttf');
}

@font-face {
    font-family: 'Anton', sans-serif;
    src: url('../../../assets/fonts/Anton/Anton-Regular.ttf');

}
