doctype html
html
  head
    script(src='./js/app.js' defer='')
    link(rel='stylesheet', href='./css/app.css')
    title Ejemplo de Pug
  body
    h1 Bienvenido a mi sitio web
    p Este es un ejemplo de código Pug
    ul
      li Primer elemento de la lista
      li Segundo elemento de la lista
      li Tercer elemento de la lista
content
      h1 Bienvenido a mi sitio
aside
      p Este es un bloque aside opcional
ul
    li Primer elemento de la lista
    li Segundo elemento de la lista
    li Tercer elemento de la lista

ul
    li Primer elemento de la lista
    li Segundo elemento de la lista
    li Tercer elemento de la lista

ul
    li Primer elemento de la lista
    li Segundo elemento de la lista
    li Tercer elemento de la lista

